#backend
backend/venv/
#frontend node modules
node_modules/
frontend/node_modules/
# Datasets
datasets/raw/
datasets/processed/

backend/live_capture/
backend/pcap_capture/
frontend/.env
backend/app/__pycache__/
backend/app/logs/